@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
}

#NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
    height: 10vh;

    padding: 0 0 0 2vw;
    box-sizing: border-box;
}

#NavBar > a {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(to right, #057DC2, #04ACC5 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#NavBar > #Download {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(to right, #057DC2, #04ACC5 );
    color: white;
    border-radius: 40px;
    border: none;
    padding: 11px 23px 11px 25px;
    position: absolute;
    right: 0;
    margin-right: 2vw;
    transition: all 0.2s;
}

#NavBar > #Download:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#NavBar > #Download:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

#NavBar > #Download:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

#Menu{
    display: none;
}

#NavBar > #GetUpPlaySingleLogo{
    font-size: 2em;
}


#LandingPage{
    height: 80vh;
    margin: 0px 100px 0px 100px;
    position: relative;
}

#LandingPage > h1{
    font-family: "Poppins", sans-serif;
    font-size: 12vw;
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(to right, #0562C1, #03C4C6 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -4px;
    padding-top: 6vh;
    margin: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Description{
    position: absolute;
    width: 100%;
    background: linear-gradient(#057DC2, #04ACC5 );
    height: auto;
}

#InsideDescription{
    margin: 0px 100px 0px 100px;
}

#Block{
    width: 260px;
    height: 30vh;
    background: linear-gradient(to right, #057DC2, #04ACC5 );
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    padding: 2%;

    position: absolute;
    bottom: 0;
    margin-bottom: 10vh;

    box-shadow: 10px 10px 5px #888888;
}

#Block > h1{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-top: 0px;
    margin-top: 0px;
}

#Block > p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 1.3em;
}

#Image{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

#Note{
    width: 50%;
    padding-left: 15%;
}

#Personna{
    display: none;
}

#InsideDescription{
    padding-top: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#InsideDescription > div > h1{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 7em;
    padding-top: 0px;
    margin-top: 0px;


}

#InsideDescription > div > p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 1.2em;
    line-height: 200%;
    letter-spacing: 2px;
    width: 40vw;
}

#InsideDescription > div > button{
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
    background: transparent;
    color: white;
    border-radius: 40px;
    border: solid white;
    margin-top: 7vh;
    padding: 11px 90px 11px 90px;
    transition: all .3s;
}

#InsideDescription > div > button:hover {
    background-color: white;
    transition: all .3s;
    color: #057DC2;
   }




#InsideDescription > div > img{
    margin-top: 5vh;
    width: 37%;
    position: absolute;
    right: 0;
}

#Carroussel{
    margin: 20vh 100px 8vh 100px;
}

#Carroussel > h3 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2.4em;
    padding-top: 0px;
    margin-top: 0px;
}

.carousel {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    > * {
        flex: 0 0 100%;
      }
      
  }

  .group {
    display: flex;
    gap: 1vw;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 25s linear infinite;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }




  footer{
    display: flex;
    flex-direction: row;

    margin: 15vh 100px 7svh 100px;
}

#FirstCollumn{
    margin-right: 11.3vw;
    >img{
        width: 17.3vw;
    }
}


#SecondCollumn{
    >p {
        margin-right: 17.7vw;

        color: white;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        color: white;
        font-size: 1rem;

        margin-bottom: 4vh;
    }
    > #Pages{
        display: flex;
        flex-direction: column;
        gap: 1.4vh;

        margin-right: 8.75vw;
        
        > a{
            color: white;
            text-decoration: none;

            font-family: "Poppins", sans-serif;
            color: white;
            font-size: 1rem;
        }
    }
}

#ThirdCollumn{
    >p {
        margin-right: 17.7vw;

        color: white;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        color: white;
        font-size: 1rem;

        margin-bottom: 4vh;
    }

    >div{
        display: flex;
        flex-direction: row;

        gap:2.2vw;
    }

    >div > img {
        width: 2.2vw;
        transition: 0.2s;
    }

    >div >img:hover{
        transform: translateY(-3px);
        transition: 0.2s;
    }
}

#NoteMobile{
    display: none;
}

#ButtonMobile{
    display: none;
}

#Line{
    display: none;
}



@media (min-width: 0px) and (max-width: 599px) {

    body{
        margin: 0;
        padding: 0;
    }
    
    #NavBar{
        padding: 0 0 0 4vw;
        
    }
    
    #NavBar > a {
        display: none;
    }
    
    
    
    #NavBar > #Download {
        display: none;
    }
    
    
    #NavBar > #GetUpPlaySingleLogo{
        font-size: 2em;
        display: block;
    }

    #Menu{
        display: inline;
        font-family: "Poppins", sans-serif;
        background: transparent;
        color: white;
        border-radius: 40px;
        border: none;
        position: absolute;
        right: 0;
        margin-right: 4vw;
    }

    #LandingPage{
        height: 55vh;
        margin: 0;
        position: relative;
        
    }
    
    #LandingPage > h1{
        font-size: 17.2vw;
        margin: 6vh 0px 0px 0px;
        padding: 0px;
    }

    #Block{
        display: none;
    }

    #Image{
        display: none;
    }

    #Personna{
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    #Activite{
        display: none;
    }

    #Description{
        border-radius: 20px 20px 0px 0px;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    #InsideDescription{
        padding: 0px 4vw 0px 4vw;
        margin: 0;
    }


    #NoteMobile{
        display: block;
        padding: 0 4vw 0 4vw;

        height: 27vh;

        >img {
            position: absolute;
            right: 0;

            width: 38%;
        }
    }

    #NomPersona{
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 8vw;

        margin-bottom: 0;
        margin-top: 2vh;
    }

    #DescriptionPersona{
        color: white;
        font-family: "Poppins", sans-serif;
        font-style: italic;
        font-size: 3.5vw;
        width: 75vw;
        line-height: 3vh;
        letter-spacing: 0.5vw;
        margin-bottom: 0;
    }

    #Line{
        display: block;
        margin: 0 4vw 0 4vw;
        width: 92%;
    }

    #InsideDescription{
        > div > h1{
            margin-top: 4vh;
            font-size: 13vw;
        }
        > div > p{
            font-size: 3.5vw;
            width: 75vw;
        }
        > div > button{
            display: none;
        }
        > div > #ButtonMobile{
            display: block;
            font-size: 4vw;
            border: none;
            background-color: white;
            padding-left: 13vw;
            padding-right: 13vw;
        }
        > div > #ButtonMobile >p{
            background: linear-gradient(to right, #057DC2, #04ACC5 );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0;
            padding: 0;
        }
    }

    #Carroussel{
        margin: 10vh 4vw 5vh 4vw;

        > h3 {
            color: white;
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-style: italic;
            font-size: 7vw;
            padding-top: 0px;
            margin-top: 0px;
            margin-bottom: 0;
        }    
    }

    .carousel {
        margin: 0 auto;
        max-width: 100%;
        overflow: hidden;
        display: flex;
        > * {
            flex: 0 0 100%;
          }
          
      }
    
      .group {
        display: flex;
        gap: 1vw;
        padding-right: 20px;
        will-change: transform;
        animation: scrolling 25s linear infinite;

        > img{
            width: 60vw;
        }
      }
    
      @keyframes scrolling {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }

    footer{
        margin: 15vh 4vw 7vh 4vw;
        flex-direction: column;
        gap: 3vh;
    }

    #FirstCollumn{
        >img{
            width: 35vw;
        }
    }
    
    
    #SecondCollumn{
        >p {
            margin-right: 0;
            font-size: 4vw;
    
            margin-bottom: 4vh;
        }
        > #Pages{
            margin-right: 0;
            
            > a{
                font-size: 3.5vw;
            }
        }
    }
    
    #ThirdCollumn{
        >p {
            margin-right: 0;
            font-size: 4vw;
        }
    
        >div{
            gap:6vw;
        }
    
        >div > img {
            width: 6vw;
        }
    }

}

@media (min-width: 600px) and (max-width: 1200px) {
    body{
        margin: 0;
        padding: 0;
    }
    
    #NavBar{
        padding: 0 0 0 4vw;
        
    }
    
    #NavBar > a {
        display: none;
    }
    
    
    
    #NavBar > #Download {
        display: none;
    }
    
    
    #NavBar > #GetUpPlaySingleLogo{
        font-size: 2em;
        display: block;
    }

    #Menu{
        display: inline;
        font-family: "Poppins", sans-serif;
        background: transparent;
        color: white;
        border-radius: 40px;
        border: none;
        position: absolute;
        right: 0;
        margin-right: 4vw;
    }

    #LandingPage{
        height: 75vh;
        margin: 0;
        position: relative;
        
    }

    #LandingPage > h1{
        font-size: 15vw;
        margin: 4vh 0px 0px 0px;
        padding: 0px;
    }

    #Block{
        display: none;
    }

    #Note{
        width: 70%;
        padding-left: 15%;
    }

    #Activite{
        display: none;
    }

    #InsideDescription{
        padding: 10vh 4vw 0px 4vw;
        margin: 0;
    }

    #InsideDescription{
        > div > h1{
            font-size: 7vw;
        }
        > div > p{
            font-size: 2.3vw;
            width: 75vw;
        }
        > div > button{
            display: none;
        }
        > div > #ButtonMobile{
            display: block;
            font-size: 2.3vw;
            border: none;
            background-color: white;
            padding-left: 13vw;
            padding-right: 13vw;
        }
        > div > #ButtonMobile >p{
            background: linear-gradient(to right, #057DC2, #04ACC5 );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0;
            padding: 0;
        }
    }

    #Carroussel{
        margin: 10vh 4vw 5vh 4vw;

        > h3 {
            color: white;
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-style: italic;
            font-size: 4vw;
            padding-top: 0px;
            margin-top: 0px;
            margin-bottom: 0;
        }    
    }

    .carousel {
        margin: 0 auto;
        max-width: 100%;
        overflow: hidden;
        display: flex;
        > * {
            flex: 0 0 100%;
          }
          
      }
    
      .group {
        display: flex;
        gap: 1vw;
        padding-right: 20px;
        will-change: transform;
        animation: scrolling 25s linear infinite;

        > img{
            width: 35vw;
        }
      }
    
      @keyframes scrolling {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }

    footer{
        margin: 15vh 4vw 7vh 4vw;
        flex-direction: column;
        gap: 3vh;
    }

    #FirstCollumn{
        >img{
            width: 25vw;
        }
    }
    
    
    #SecondCollumn{
        >p {
            margin-right: 0;
            font-size: 2.5vw;
    
            margin-bottom: 4vh;
        }
        > #Pages{
            margin-right: 0;
            
            > a{
                font-size: 2vw;
            }
        }
    }
    
    #ThirdCollumn{
        >p {
            margin-right: 0;
            font-size: 2.5vw;
        }
    
        >div{
            gap:6vw;
        }
    
        >div > img {
            width: 4vw;
        }
    }

}


@media (min-height: 0px) and (max-height: 500px){
    #Note{
        width: 50%;
    }

    #NavBar{
        height: 15vh;
    }
}

